* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
